<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="navStyles.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
        <header class="hero">
            <div class="navbar top" id="navbar">
               <h1 class="logo">
                  <span class="text-primary"><i class="fas fa-ice-cream"></i> Jalebi</span>Baby
               </h1>
               <nav>
                  <ul>
                     <li><a href="#home">Home</a></li>
                     <li><a href="/store">Store</a></li>
                     <li><a href="about.html">About</a></li>
                  </ul>
               </nav>
            </div>
      
        <!-- 
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">The Generics</h1>
        </header>
    -->

        <section class="container content-section">
            <h2 class="section-header">Bengali Desserts</h2>
            <div class="shop-items">
                <% items.bengali_desserts.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Cakes</h2>
            <div class="shop-items">
                <% items.cakes.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Drinks</h2>
            <div class="shop-items">
                <% items.drinks.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>

        <footer class="footer bg-dark">
            <div class="social">
               <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
               <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
               <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
               <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
         </footer>


        <!-- Original footer
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">The Generics</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    -->
    </body>
</html>
